<html>
    <style>
        footer{
            padding-left: 8px;
            padding-top: 1.5px;
            font-size: 8pt;
            border-top: solid black 1px;
            border-spacing: 8px;
            padding-bottom: 8px;
        }
        .dark footer {
            color: white;
            border-top: solid white 1px;
        }
        .white footer {
            color: black;
            border-top: solid black 1px;
        }
    </style>
    <div id="footer">
    <footer>Intellectual property of Chandler de Spirlet.<br>
            Design contributions graciously made by Nick Jantz.</footer>
    </div>
</html>
<script>
    var x = "True";
    var y = "False";
    var localTime = new Date();
    // var localTime = new Date(2018, 11, 24, 10, 33);
    var hours   = localTime.getHours();
    console.log(hours, ' -hours');
    var timeString = "" + hours;
    
    console.log('localTime is ', localTime);
    console.log(timeString);

    if (hours >= 7 && hours <= 17) {
        console.log(x);
        document.getElementById("footer").classList.add('white');
    } else {
        console.log(y);
        document.getElementById("footer").classList.add('dark');
        // document.getElementById("body-content").classList.add('dark');
    }
    </script>