<html>
    <style>
        footer{
            padding-left: 8px;
            padding-top: 1.5px;
            font-size: 8pt;
            border-top: solid black 1px;
            border-spacing: 8px;
            padding-bottom: 8px;
        }
        .dark, footer {
            color: white;
        }
    </style>
    <div id="data">
    <footer style="position: absolute; bottom: 5px;">Intellectual property of Chandler de Spirlet, all rights reserved.<br>
            Design contributions graciously made by Nick Jantz.</footer>
    </div>
</html>
<script>
        var sun = require('sun-time');
        var options = {
            timeZone: "America/Denver",
            hour: 'numeric', minute: 'numeric'
        };
        var formatter = new Intl.DateTimeFormat('en-us', options);
        var localTime = formatter.format(newDate());
        var dataStuff = document.getElementById("data");
        if (localTime >= sun.rise('Denver', {format:"12h"}) && localTime < sun.set('Denver', {format:"12h"})){
            dataStuff.classList.remove("dark");
        }
        else if (localTime >= sun.set('Denver', {format:"12h"})){
            dataStuff.classList.add("dark");
        }
        else if (localTime < sun.rise('Denver', {format:"12h"})){
            dataStuff.classList.add("dark");
        } else {
            dataStuff.classList.remove("dark");
        }
    </script>