<html>
<head>
    <!-- The param which is passed from render-->
    <title><%= title %></title>
</head>
<body>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}
h1 {
    margin-left:8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0px;
}
.dark, h1 {
    color: white;
}
.white, h1 {
    color: black;
}
.dark, body {
    background-color: black;
}
.white, body {
    background-color: white;
}

</style>
</head>
<div id="data">
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/store/login">Login</a></li>
    <li><a href="/store/email">Contact</a></li>
    <!--<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Edit</a>
    <div class="dropdown-content">
        <a href="/store/file">Add File</a>
        <a href="/store/add">Add Blackbelt</a>
        <a href="/store/del">Remove Blackbelt</a>
    </div>
    </li>-->
</ul>
<h1><%= title %></h1>
</body>
</body>
</html>
<script>
    window.onload = function() {timeFunc()};
    function timeFunc(){
        var options = {
        timeZone: "America/Denver", hour12: false,
        hour: 'numeric', minute: 'numeric'
    };
    var formatter = new Intl.DateTimeFormat('en-us', options);
    var localTime = formatter.format(new Date());
    localTime = localTime.replace(':', '');
    var SunCalc = require('suncalc2');
    var times = SunCalc.getTimes(new Date(), 39.7392, 104.9903);
    var sunriseStr = (times.sunrise.getHours() -11).toString() + (times.sunrise.getMinutes() + 33).toString();
    var sunset = (times.sunset.getHours() + 14).toString() + (times.sunset.getMinutes() - 1).toString();
    var sunrise = parseInt(sunriseStr);
    var sunset = parseInt(sunset);
    var localTime = parseInt(localTime);
    var dataStuff = document.getElementById("data");
    if (localTime >= sunrise && localTime < sunset){
        dataStuff.classList.remove("dark");
        dataStuff.classList.add("white");
    }
    else if (localTime >= sunset){
        dataStuff.classList.add("dark");
    }
    else if (localTime < sunrise){
        dataStuff.classList.add("dark");
    } else {
        dataStuff.classList.remove("dark");
    }
    }
</script>