<!--Including Header Partial-->
<%- include ../layouts/header3.ejs %>
<html>
<head>
<style>
#blackbelts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#blackbelts td, #blackbelts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#blackbelts tr:nth-child(even){background-color: #f2f2f2;}

#blackbelts tr:hover {background-color: #ddd;}

#blackbelts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}
</style>
</head>
<div>
<table id="blackbelts" class="responsive">
    <tr>
        <th>Version Number</th>
        <th>Release Notes</th>
        <th>Release Date</th>
    </tr>
    <tr>
        <td>1.1.8</td>
        <td>Changelog functionality introduced</td>
        <td>27 November 2018</td>
    </tr>
    <tr>
        <td>1.1.8.3</td>
        <td>Adds changelog app.get and adds app.get and app.post for edit function</td>
        <td>27 November 2018</td>
    </tr>
</table>
</div>
</html>

<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>
