<!--Including Header Partial-->
<%- include ../layouts/header3.ejs %>
<html>
<head>
<style>
#blackbelts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#blackbelts td, #blackbelts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#blackbelts tr:nth-child(even){background-color: #f2f2f2;}

#blackbelts tr:hover {background-color: #ddd;}

#blackbelts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}
</style>
</head>
<div>
<table id="blackbelts" class="responsive">
    <tr>
        <th>Version Number</th>
        <th>Release Notes</th>
        <th>Release Date</th>
    </tr>
    <tr>
        <td>1.2.8.3</td>
        <td>Fixes bug where the date was not refreshed upon uploading a file.</td>
        <td>04 December 2018</td>
    </tr>
    <tr>
        <td>1.2.7.1</td>
        <td>Adds contact page to login as well as fixes redirect issue.</td>
        <td>30 November 2018</td>
    </tr>
    <tr>
        <td>1.2.6</td>
        <td>Fixes a bug in del and email where fields did not require input.</td>
        <td>29 November 2018</td>
    </tr>
    <tr>
        <td>1.2.5</td>
        <td>Contact form introduced. Fixes some UI issues with contact form. Adds redirect to home.</td>
        <td>29 November 2018</td>
    </tr>
    <tr>
        <td>1.1.8.4</td>
        <td>Updates changelog title and redirect from edit classes admin page.</td>
        <td>27 November 2018</td>
    </tr>
    <tr>
        <td>1.1.8</td>
        <td>Changelog functionality introduced.</td>
        <td>27 November 2018</td>
    </tr>
</table>
</div>
</html>

<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>
