<!--Including Header Partial-->
<%- include ../layouts/header3.ejs %>
<html>
<head>
<style>
#blackbelts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#blackbelts td, #blackbelts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#blackbelts tr:nth-child(even){background-color: #f2f2f2;}

#blackbelts tr:hover {background-color: #ddd;}

#blackbelts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}
</style>
</head>
<div>
<table id="blackbelts" class="responsive">
    <tr>
        <th>Version Number</th>
        <th>Release Notes</th>
        <th>Release Date</th>
    </tr>
    <tr>
        <td>1.2.1</td>
        <td>Contact form introduced. Fixes some UI issues with contact form.</td>
        <td>29 November 2018</td>
    </tr>
    <tr>
        <td>1.1.8.4</td>
        <td>Updates changelog title and redirect from edit classes admin page.</td>
        <td>27 November 2018</td>
    </tr>
    <tr>
        <td>1.1.8</td>
        <td>Changelog functionality introduced.</td>
        <td>27 November 2018</td>
    </tr>
</table>
</div>
</html>

<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>
